.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 12px;
  margin: 15px;
}

.card figure {
  box-sizing: border-box;
}

.info {
  margin: 0;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.info p {
  margin: 0;
}
