.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  height: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 12px;
  margin: 15px;
  overflow: hidden;
}

.card figure {
  box-sizing: border-box;
}

.info {
  margin: 0;
  margin: 10px;
  height: 250px;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
}

h1 {
  margin-top: 0;
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p {
  margin: 0;
}
